---
layout: default
title: Views Help Us Maintain Context
subtitle: DESIGN PATTERNS
summary: We should be able to work within context while losing the context of the current goal.
---

<h1>App Layouts</h1>
<h6>Example of consistant layout structures</h6>

<img src="../../img/views-app-layouts.png" alt="Example of consistant layout structures">

<h1>Borders And Separators</h1>
<h6>Example of consistant borders as seperators</h6>

<img src="../../img/views-borders.png" alt="Example of consistant borders as seperators">

<dl>
	<dt>1. Avoid conflicting views on the same page</dt>
	<dd>Ensure Method is not too over-cluttered with the many different variations of layout patterns. A page consists of a set of views, and the layouts should allow users to do things quickly within the environment but not feel as though any of the views are interfering with focus or that they’re jumping too much between disconnected contexts.</dd>

	<dt>2. Functional seperations</dt>
	<dd>Aligning functional separations helps us avoid conflict between separate groups of elements on the same page. These sepeprations of content should not be only aesthetic, but visually support and reinforce layout patterns.</dd>

	<dt>3. Focus on the logical structuring of content</dt>
	<dd>Proactively  being able to attain and assemble information in a structured way that leads to product and design decisions (needs example expansions).</dd>

	<dt>4. Respect the layout grid</dt>
	<dd>In order to remove bias from decision making on consistancy and layout, respect the patterns for the grid layout, as well as the vertical spacing dimensions enforced throughout the Method Style Guide.</dd>
</dl>