{% assign navurl = page.url | remove: 'index.html' %}
<ul>
{% for item in include.nav %}
    <li>
    {% if item.url == {{site.baseurl}} %}
        <a class="m-labs" href="{{site.baseurl}}{{ item.url }}">
    {% else %}
        <a href="{{site.baseurl}}{{ item.url }}">
    {% endif %}
            {% if item.url == navurl %}
                <b>{{ item.text }}</b>
            {% else %}
                {{ item.text }}
            {% endif %}
        </a>
    </li>
    {% if item.subitems and navurl contains item.url %}
        {% include nav.html nav=item.subitems %}
    {% endif %}
{% endfor %}
</ul>