
<form action="#" method="get">
    <input type="text" id="search-query" class="search-box" name="q" placeholder="Search" autocomplete="off">
</form>
<!-- Search Form END ^^ -->

<section id="search-results" class="search-results" style="display: none;"> 
	{% raw %}
		<script id="search-results-template" type="text/mustache">
			{{#entries}}
				
			    <article>
			    	<h3>
			        	<a href="/methodlabs/{{url}}">{{title}}</a></h3>
			      	</h3>
			      	<p>{{description}}</p>
			      	<p class="page-path">{{site.baseurl}}{{url}}</p>
			      	{{#categories}}<span class="category-item">{{.}}</span>{{/categories}}
			      	{{#tags}}<span class='tag-item'>{{.}}</span>{{/tags}}

			    </article>
			   
		  	{{/entries}}
		</script>
	{% endraw %}
</section>
<!-- Search results container END ^^ -->