@import "../designer/method-base";

/*////////////////////////////////////INITIAL SEC STYLES//////////////////////////////////// */

table {
  &:empty {
    display: none !important;
  }
}

.propTable {
  margin-top: -1px;
  
  td.propTd {
    text-align: left;
    button {
      color: $dark-blue;
      &.blue {
        color: $white;
      }
    }
  }
}

#choosenActionName {
  a {
    img {
      border: 0;
    }
    outline: none;
  }
  input, div, select {
    outline: none;
  }

  table.propTable {
    &:empty {
      display: none !important;
    } 
  }

  &.mi-dialog-content.mi-widget-content {
    padding: 20px 0 0 40px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
  }
  a {
    &.learn {
      color: #4888EF;
      text-decoration: none;
      font-style: italic;
      outline: none !important;
      &:visited {
        color: #4888EF;
        text-decoration: none;
        font-style: italic;
        outline: none !important;
      }
    }
    &:active {
      color: #4888EF;
      text-decoration: none;
      font-style: italic;
      outline: none !important;
    }
  }
  div#actionName {
    margin-bottom: 15px;
  }
  .helpSpan {
    color: #34495e;
    font-style: italic;
    font-weight: normal;
    width: 98%;
    font-size: 13px;
    margin-bottom: 20px;
  }
}

/*////////////////////////////////PROPERTY MANAGER//////////////////////////*/

/*/////////////////////////////ACTION DESCRIPTION AT THE TOP///////////////////////// */

/*////////////////////////////////////INTERNAL NOTE//////////////////////////////////// */

#internalNoteTable {
  border-collapse: separate;
  border-spacing: 10px 15px;
  background-color: lighten($m-grey,30%) !important;
  padding: 5px 5px 0 7px;
  position: absolute;
  bottom: 0;
  right:0;
  margin-bottom: 76px;

  label {
    margin-left: 50px;
    font-size: 16px;
  }
  td {
    border: none !important;
    background: transparent !important;
    padding: 10px;
    &:first-child {
      font-weight: bold;
      width: 25%;
    }
  }
}

/*//////////////////////////PROP AND HEADER TABLES///////////////////////////// */

#choosenActionName {
  table.propTable {
    @include boxSizing;
    width: 100%;
    width: 100% !important;
    margin-left: 0 !important;
    padding: 10px;
    border-collapse: separate !important;
    &:empty {
      display: none !important;
    }

    thead {
      border-bottom: 1px solid $card-border;
    }

    td {
      //padding: 10px !important;
      border-bottom: none !important;

      label, input, select, textarea {
        margin:0;
      }

      .actionArea {
        height: auto !important;
        label {
          &:empty {
            display: none;
          }
        }
        .switch {
          label {
            display: inline-block !important;
          }
        }
        .mi-datetimepicker {
          input {
            width: 100% !important;
          }
          .buttonGroup {
            button {
              height: 34px !important;
            }
          }
        }
      }
    }
    
    .chooseStep {
      font-weight: bold;
    }
  }

  .assignToActionDiv {
    .propTd {
      padding: 10px;
    }
  }
  .propTd {
    white-space: nowrap;
  }
  .anyActionHeader {
    border-collapse: separate;
    border-spacing: 2px 10px;
    padding: 20px;
    width: 100%;
    font-size: 16px;

    &#insertTableFooter {
      margin-top: -1px;
    }
    td {
      &:first-child {
        width: 32%;
      }
      &:nth-child(2) {
        width: 68%;
      }

      border:none !important;
      padding: 10px;
    }
    label {
      font-weight: normal;
      padding-top: 5px;
    }
    .chooseStep {
      font-weight: bold;
    }
    .chooseStepLbl {
      padding-left: 15px;
    }
  }
}

/*////////////////////////////////////SPINNER//////////////////////////////////// */

div.block-user-from-actions {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1041;
  background: url(../../img/ajax-loader.gif) center no-repeat;
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(0, 0, 0);
  /* RGBa with 0.2 opacity */
  background-color: rgba(0, 0, 0, 0.2);
}

/*///////////////////////////////DELETE RECORDS FROM TABLE///////////////////////////////*/

#deleteMainDiv {
  .propTable {
    padding: 10px;
  }

  #deleteWherePart {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    width: 70%;
    position: relative;
    bottom: -2px;
  }
  #deleteWherePartA {
    color: #4888EF;
    text-decoration: underline !important;
  }
  .anyActionHeader #deleteViewList {
    width: 89%;
    font-size: 14px;
  }
  
  .anyActionHeader {
    td {
      border-bottom: none !important;
      padding: 10px !important;

      select {
        margin: 0 !important;
      }

      &.delete-wrapper {
        text-align: left;

        button {
          margin-left:0 !important;
          margin-bottom:0 !important;
        }
      }
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #deleteMainDiv #deleteWherePart {
    position: relative;
    bottom: 1px;
  }
}

#backDeleteCriteria {
  float: left;
  position: absolute;
  left: 30px;
  top: 20px;
  cursor: pointer;
  color: #3EA4EF;
  &:hover {
    color: #58BEFF;
  }
  i {
    position: relative;
    top: 1px;
    right: 3px;
  }
}

/*/////////////////////////////INSERT RECORDS INTO TABLE//////////////////////////// */

#insertTableDiv {

  
  .propTable {
    td {
      &:first-child {
        width: 31%;
      }
      &:nth-child(2) {
        width: 27%;
      }
      &:nth-child(3) {
        width: 35%;
      }
      &:nth-child(4) {
        width: 7%;
      }

      border: none !important;
    }
    .reqF:first-child {
      font-size: 16px;
    }
  }
  #insViewList {
    width: 89%;
  }
  .actionInsert {
    width: 98%;
  }
  label.actionInsert {
    display: inline-block;
    width: auto !important;
    float: left;
  }
  .actionSelect, .actionArea {
    width: 98%;
  }

  .actionArea {
    .mi-datetimepicker {
      .mi-dt-DateTime {
        input[type="text"] {
          min-height: inherit !important;
          height: auto !important;
          line-height: 1.45 !important;
        }
      }

      .buttonGroup {
        .mi-button {
          height: auto !important;
          padding: 5px 5px 4px 5px !important;
        }
      }
    }
    


  }
  .actionAreaDrp {
    width: 28%;
    position: relative;
    left: 1px;
    font-size: 14px;
    height: 25px;
  }
  .actionInsert {
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .icon-exchange {
    margin: 0 0 0.4em 0.75em;
    width: 10%;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
  }
}

.insertTableTrash {
  text-decoration: none;
  font-size: 24px;
  position: relative;
  bottom: 2px;
}

#addInsField {
  color: #4888EF;
  float: left;
  margin: 10px 0;
  cursor: pointer;
}

#insActionResult {
  width: 89%;
}

#insertTableDiv .insExpr {
  width: 98%;
  margin: 0;
  padding: 3px;
  font-size: 14px !important;
}

#backInsFromExpr {
  float: left;
  position: absolute;
  left: 30px;
  top: 20px;
  cursor: pointer;
  color: #3EA4EF;
  &:hover {
    color: #58BEFF;
  }
  i {
    position: relative;
    top: 1px;
    right: 3px;
  }
}

/*/////////////////////////////RETRIEVE VALUES FROM TABLE//////////////////////////// */

#retrValsFromTableDiv {
  .propTable {

    &:empty {
      display: none !important;
    }

    td {
      padding: 20px 10px !important;

      &:first-child {
        width: 31%;
      }
      &:nth-child(2) {
        width: 27%;
      }
      &:nth-child(3) {
        width: 35%;
      }
      &:nth-child(4) {
        width: 7%;
      }
    }
    .propTr:first-child {
      font-size: 16px;
    }
    padding-left: 20px !important;
    padding-top: 10px !important;
    font-size: 14px !important;
  }
  .anyActionHeader {
    td {
      text-align: left !important;
    }
    select {
      margin:0;
    }
  }
  .actionAreaDrp {
    width: 28%;
    position: relative;
    left: 1px;
    font-size: 14px;
    height: 25px;
  }
  #retrWherePart {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    width: 70%;
    position: relative;
    bottom: -2px;
  }
  #retrWherePartA {
    color: #4888EF;
    text-decoration: underline !important;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #retrValsFromTableDiv #retrWherePart {
    position: relative;
    bottom: 1px;
  }
}

#addRetrField {
  color: #4888EF;
  float: left;
  font-size: 14px !important;
  cursor: pointer;
  margin-top: 5px;
}

#backToCriteria {
  margin: 0;
  font-size: 16px !important;
}

#backRetrCriteria {
  float: left;
  position: absolute;
  left: 30px;
  top: 20px;
  cursor: pointer;
  color: #3EA4EF;
  &:hover {
    color: #58BEFF;
  }
  i {
    position: relative;
    top: 1px;
    right: 3px;
  }
}

a.retrTableTrash {
  text-decoration: none;
  font-size: 24px;
  position: relative;
  bottom: 2px;
}

/*///////////////////////////UPDATE FILEDS IN TABLE//////////////////////////////*/

#updateMainDiv {
  .propTable {
    td {
      &:first-child {
        width: 31%;
      }
      &:nth-child(2) {
        width: 27%;
      }
      &:nth-child(3) {
        width: 35%;

        select {
          width: 49% !important;
          display: inline-block;
          &:first-of-type {
            margin-right: 5px;
          }
          &:only-child {
            width: 100% !important;
            margin-right: 0 !important;
          }
        }
      }
      &:nth-child(4) {
        width: 7%;
        padding-left: 20px;
        button {
          text-align: center;
          font-size: 16px;
          &:before {
            margin:0;
          }
        }

      }
    }
    .propTr:first-child {
      font-size: 16px;
    }
    padding-left: 20px !important;
    padding-top: 10px !important;
    font-size: 14px !important;
  }
  .anyActionHeader {
    td {
      text-align: left;
    }
    select{
      height:inherit;
    }
  }
  .actionAreaDrp {
    width: 28%;
    position: relative;
    left: 1px;
    font-size: 14px;
    height: 25px;
  }
  #updateWherePart {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    width: 70%;
    position: relative;
    bottom: -2px;
  }
  #updateWherePartA {
    color: #4888EF;
    text-decoration: underline !important;
  }
  
  .upTableField, .actionSelect, .actionArea {
    width: 98%;
  }
}

.mi-dialog-buttonset {
    span {
      &#actCancel,&#actSave {
        margin: 0 0 0 5px !important;
        button {
          &.mi-button {
            margin: 0 !important;
          }
        }
      }
    }
  }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #updateMainDiv #updateWherePart {
    position: relative;
    bottom: 1px;
  }
}

#addUpdateField {
  color: #4888EF;
  float: left;
  font-size: 14px !important;
  cursor: pointer;
  margin-top: 5px;
}

#updateCriteriaCall {
  margin: 0;
  font-size: 16px !important;
}

#backUpCriteria {
  float: left;
  position: absolute;
  left: 30px;
  top: 20px;
  cursor: pointer;
  color: #3EA4EF;
  &:hover {
    color: #58BEFF;
  }
  i {
    position: relative;
    top: 1px;
    right: 3px;
  }
}

#updateMainDiv .upTableTrash {
  text-decoration: none;
  font-size: 24px;
}

/*/////////////////////////////LOOP THROUGH TABLE////////////////////////////////////////////*/

#loopMainDiv {
  .anyActionHeader {
    //border-collapse: collapse;
    font-size: 16px;
    padding: 0;
  }
  td {
    padding: 20px 10px;
  }
  .anyActionHeader {
    td {
      text-align: left !important;

      &:first-child {
        width: 30%;
      }
      &:nth-child(2) {
        width: 40%;
      }
      &:nth-child(3) {
        width: 12%;
      }
      &:nth-child(4), &:nth-child(5) {
        width: 9%;
      }
    }
    select, input {
      width: 100%;
    }

    button {
      margin:0;
    }
  }
  label.checkbox {
    font-size: 1.3em !important;
  }
  #loopWherePart {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    width: 70%;
    position: relative;
    bottom: -2px;
  }
  #loopWherePartA {
    color: #4888EF;
    text-decoration: underline !important;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #loopMainDiv #loopWherePart {
    position: relative;
    bottom: 1px;
  }
}

// #loopCriteriaCall {
//   margin: 0;
//   padding: 4px;
//   font-size: 16px !important;
// }

#backLoopCriteria {
  float: left;
  position: absolute;
  left: 30px;
  top: 20px;
  cursor: pointer;
  color: #3EA4EF;
  &:hover {
    color: #58BEFF;
  }
}

#backLoopeCriteria i {
  position: relative;
  top: 1px;
  right: 3px;
}

#addLoopOrderDiv {
  margin: 8px 0 8px 15px;
}

#addLoopOrder {
  text-decoration: none;
  color: #4888EF;
  font-size: 14px;
  cursor: pointer;
}

.loopRemoveParam {
  text-decoration: none;
  font-size: 16px;
  position: relative;
  bottom: 3px;
  left: 13px;
  cursor: pointer;
}
#loopThroughTable a.loopRemoveParam:active {
    font-style: normal;
}

.loopMoveParam {
  font-size: 16px;
  position: relative;
  bottom: 3px;
  left: 20px;
  &:hover {
    cursor: grab;
  }
}
#loopThroughTable a.loopMoveParam:active {
    font-style: normal;
}

.loopEmpty {
  outline: 1px dashed #4183C4;
  background-color: #d0edf7;
  height: 20px !important;
  width: 100%;
}

/*///////////////////////////GO TO SCREEN///////////////////////////////*/

#gotoScreenMainDiv {
  .anyActionHeader {
    width: 95%;
    font-size: 16px;
    margin-top: -10px;
    td {
      text-align: left;
      &:first-child {
        width: 30%;
      }
      &:nth-child(2), &:nth-child(3) {
        width: 35%;
      }
    }
    select, input {
      width: 100%;
      font-size: 14px;
    }
    select {
      width: 99.5%;
    }
  }
  .specRec {
    display: none;
  }
}

#gotoActionTd .actionAreaDrp {
  width: 25% !important;
  position: relative;
  left: 1px;
  font-size: 14px;
  height: 25px;
}

#gotoActionTd {
  select {
    &:first-child {
      width: 98% !important;  
    }
    &:first-child:nth-last-child(2),
    &:first-child:nth-last-child(2) ~ select {
      width: 49.5% !important;
      display: inline-block;
    }
    &:first-child:nth-last-child(2) {
      margin-right: 20px;
    }
  }
}

/*/////////////////////////////CRITERIA BUILDER//////////////////////////// */

#condMainDiv,
#appRibbonFilter {

  .container {
    @include boxSizing;
    padding: 20px;

    ol {
      list-style: none;
      margin: 0;
    }

    .expression {
      .operand,.operator {
        @include boxSizing;
        @include flexbox;
        @include flexjustify(space-around);

        select {
          &:first-of-type {
            flex: 1 1 45%;
            margin-right: 10px;
            width: 45%;
          }
        }
        .values {
          @include flexalignitems(center);
          flex: 1 1 45%;
          margin-left: 10px;
          width: 45%;

          select {
            width:100%;
          }
          label {
            &:empty {
              display: none;
            }
          }
          .onoffswitch {
            label {
                display: inline-block !important;
            }
          }
          .value {
            &.Date {
              input {
                width: 100% !important;
              }
            }
          }
        }
      } 
      .operator {
        width: 50%;
      }
    }
  }

  button {
    margin-left: 20px;
  }
}

/*////////////////////////////////SHOW MESSAGE/////////////////////////////// */

#showMsg {
  .propTable {
    border-spacing: 5px 10px !important;
    td {
      &:first-child {
        width: 27%;
      }
      &:nth-child(2) {
        width: 48%;
      }
      &:nth-child(4) {
        width: 25%;
      }
    }
  }
  .propTr:nth-child(4) {
    vertical-align: top;
    padding-top: 10px;
  }
  select, input {
    width: 100%;
    height: 25px;
    font-size: 14px;
  }
  .actionSelect, .actionArea {
    margin-top: 25px;
  }
  #msgToShow {
    @include boxSizing;
    width: 100%;
    height: 120px;
    overflow-y: scroll;
    white-space: normal;
    word-wrap: break-word;
    background: white;
    border: 1px solid #ABADB3;
    font-weight: normal;
    font-size: 14px;
    color: black;
    padding: 10px;
    p {
      margin: 0;
    }
  }
  .activeLink {
    cursor: pointer !important;
    text-decoration: none;
    color: #4888EF;
    -ms-user-select: none;
  }
}

#msgMenuDiv {
  border: 2px solid #34495e;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-color: #D4D4D4 #D4D4D4 #BCBCBC;
  background: white;
  padding: 10px 10px 15px 10px;
  font-size: 14px;
  span {
    cursor: pointer;
    margin-right: 5px;
    margin-left: 3px;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    top: 2px;
    left: 5px;
    color: #34495e;
  }
  a:hover {
    color: #9aafc4;
  }
}

#msgMenu #msgMenuDiv .msgErr {
  font-size: 17px;
}

/*/////////////////////////////ACTION RESULT//////////////////////////////////*/

#actionResultItem {
  .propTable {
     td {
      &:first-child {
        width: 20%;
      }
      &:nth-child(2), &:nth-child(3) {
        width: 35%;
      }
      &:nth-child(4) {
        width: 10%;
      }
      .actionArea {
        height: auto !important;
        label {
          &:empty {
            display: none;
          }
        }
        .mi-datetimepicker {
          input {
            width: 100% !important;
          }
        }
      }
    }
  }
  .actionSelect, .actionArea {
    width: 100%;
    font-size: 14px;
  }
  .actionAreaDrp {
    width: 25%;
    position: relative;
    left: 1px;
    font-size: 14px;
   
  }
  .actionVariable {
    width: 87.2%;
    font-size: 14px;
  }
}

#addPropertyD {
  margin: 20px 0;
}

#addPropertyA {
  text-decoration: none;
  color: #4888EF;
}

.backToExpr {
  width: 100%;
  margin: 0;
  padding: 3px;
  font-size: 14px !important;
}

#backActionFromExpr {
  float: left;
  position: absolute;
  left: 30px;
  top: 20px;
  cursor: pointer;
  color: #3EA4EF;
  &:hover {
    color: #58BEFF;
  }
  i {
    position: relative;
    top: 1px;
    right: 3px;
  }
}

.actionTrash {
  text-decoration: none;
}

/*//////////////////////////////SHARED RESULT///////////////////////////////////////*/

#sharedResultItem {
  .propTable td {

    padding: 10px !important;
    

    &:first-child {
      width: 20%;
    }
    &:nth-child(2), &:nth-child(3) {
      width: 35%;
    }
    &:nth-child(4) {
      width: 10%;
    }
  }
  .actionSelect, .actionArea {
    width: 100%;
    font-size: 14px;

    label {
      &:empty {
        display: none;
      }
    }
    .mi-datetimepicker {
      input {
        width: 100% !important;
      }

      .buttonGroup {
        width: auto;
        bottom: 0;
        
        button {
          height: 34px !important; 

          &:hover {
            background: transparent !important;
          }

          i {
            bottom:0;
          }
        }
      }
    }
  }
  .actionAreaDrp {
    width: 25%;
    position: relative;
    left: 1px;
    font-size: 14px;
    
  }
  .actionVariable {
    width: 87.3%;
    font-size: 14px;
    
  }
}

#addSharedItem {
  @include boxSizing;
  font-size: 14px;
  padding: 20px;
}

#sharedLink {
  text-decoration: none;
  color: #4888EF;
}

.sharedExpr {
  width: 100%;
  margin: 0;
  padding: 3px;
  font-size: 14px !important;
}

#backSharedExpr {
  float: left;
  position: absolute;
  left: 30px;
  top: 20px;
  cursor: pointer;
  color: #3EA4EF;
  &:hover {
    color: #58BEFF;
  }
  i {
    position: relative;
    top: 1px;
    right: 3px;
  }
}

.sharedTrash {
  text-decoration: none;
  font-size: 24px;
  margin-left: 20px;
}

/*///////////////////////////////EXPRESSION BUILDER/////////////////////////////////*/

#exprDiv {
  position: relative;
  margin: 10px;
  // .newExprTable {
  //   border-collapse: separate;
  //   border-spacing: 10px 15px;
  //   background-color: whitesmoke;
  //   padding: 0 10px;
  //   border: 1px dotted grey;
  //   border-top: none;
  //   width: 98%;
  // }
  #exprInitRow,
  .newExprTable {
    padding: 20px;
    width: 100%;
    border-collapse: separate;
    margin-bottom: -1px;
    
  }
  .empty {
    border: 1px dotted grey;
    background-color: #aac4ef;
    width: 91%;
    height: 20px;
    margin: 5px 0;
  }
  .exprTd {
    border: none;
    padding: 10px;

    &:empty {
      display: none;
    }

    &:first-child {
      width: 20%;

      &:empty {
        display: none;
      }
    }
    &:nth-child(2) {
      width: 30%;

      &:empty {
        display: none;
      }
    }
    &:nth-child(3) {
      width: 45%;

      &:empty {
        display: none;
      }
    }
    &:nth-child(4) {
      width: 8%;
      
      &:empty {
        display: none;
      }
    }
    .actionSelect {
      width: 100%;
      font-size: 14px;
    }

    select {
      margin: 0;
    }
  }
  #exprInitRow .actionSelect {
    width: 99.6%;
    font-size: 14px;
  }
  .exprTd .actionArea {
    width: 100%;
    height: 25px;
    font-size: 14px;
  }
  .actionAreaDrp {
    width: 25%;
    position: relative;
    left: 1px;
    font-size: 14px;
    height: 25px;
  }
  .newExprTable .actionOperand {
    //width: 39.3%;
    font-size: 16px;
  }
}

.exprTrash, .sharedTrash {
  text-decoration: none;
  font-size: 18px;
  float: right;
  margin-right: 10px;
}

#addExpr {
  margin: 15px 0 0 20px;
  i {
    color: #4888EF;
    font-size: 14px;
    position: relative;
    bottom: 1px;
  }
}

#addExprLink {
  text-decoration: none;
  color: #4888EF;
}

/*////////////////////////////////CREATE METHOD URL//////////////////////////////*/

#methodUrl {
  .propTable {
    width: 96% !important;
    border-collapse: separate;
    border-spacing: 10px 15px;
    font-size: 16px !important;
    margin: -10px 0 0 20px !important;
    td {
      padding: 10px;

      &:first-child {
        width: 20%;
      }
      &:nth-child(2) {
        width: 25%;
      }
      &:nth-child(3) {
        width: 55%;
      }
    }
  }
  select {
   
      &:first-child:nth-last-child(2) ~ select[style="display:none"] {
        width: 100%;  
      }
      &:first-child:nth-last-child(2),
      &:first-child:nth-last-child(2) ~ select {
        width: 47.5% !important;
        display: inline-block;
      }
      &:first-child:nth-last-child(2) {
        margin-right: 20px;
      }
   
  }
 
  .actionAreaDrp {
    position: relative;
    font-size: 14px;
  }
}

@-moz-document url-prefix() {
  #methodUrl {
    input, select {
      width: 100%;
    }
  }
}


@-moz-document url-prefix() {
  #methodUrl #urlTr4 .actionArea {
    width: 50%;
  }
}


@-moz-document url-prefix() {
  #methodUrl .actionAreaDrp {
    position: relative;
    bottom: 1px;
    left: 1px;
  }
}


#miNavigation .actionAreaDrp {
  width: 25%;
}

#methodUrl {
  #urlTr0 div {
    font-size: 18px;
    margin: -10px 0 0 -30px;
  }
  #urlTr7 div {
    font-size: 18px;
    margin: -10px 0 0 -30px;
    margin-top: 0;
  }
}

#navSelect {
  width: 50% !important;
}

#navArea {
  width: 50%;
  position: relative;
  left: 1px;
}

/*//////////////////////////UPDATE FIELDS ON SCREEN///////////////////////////////*/

#updateScreenDiv {
  .propTable td {
    &:first-child, &:nth-child(2), &:nth-child(3) {
      width: 31%;
    }
    &:nth-child(4) {
      width: 7%;
    }
  }
  #updateScrTr0 label {
    font-size: 18px;
    margin-left: -20px;
  }
  #updateScrTr1 label {
    font-size: 16px;
  }
  .propTable {
    padding-left: 20px !important;
    padding-top: 10px !important;
    font-size: 14px !important;
  }
  .updateScreenSel, .actionSelect, .actionArea {
    width: 98%;
    height: 25px;
  }
  .actionAreaDrp {
    width: 25%;
    position: relative;
    left: 1px;
    font-size: 14px;
    height: 25px;
  }

  .upScreenFieldTd,
  .upScreenActionTd {
    select {
      &:first-child {
        width: 98% !important;  
      }
      &:first-child:nth-last-child(2),
      &:first-child:nth-last-child(2) ~ select {
        width: 48% !important;
        display: inline-block;
      }
      &:first-child:nth-last-child(2) {
        margin-right: 5px;
      }
    }
  }
}

#addScreenField {
  color: #4888EF;
  float: left;
  font-size: 14px !important;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 27px;
}

#updateScreenDiv .upScreenTrash {
  text-decoration: none;
  font-size: 18px;
}

.upScreenExpr {
  width: 98%;
  margin: 0;
  padding: 3px;
  font-size: 14px !important;
}

#backUpScreenExpr {
  float: left;
  position: absolute;
  left: 30px;
  top: 20px;
  cursor: pointer;
  color: #3EA4EF;
  &:hover {
    color: #58BEFF;
  }
  i {
    position: relative;
    top: 1px;
    right: 3px;
  }
}

/*/////////////////////////////////////SHOW HIDE///////////////////////////////////////*/

#showhideMainDiv {
  
  padding-bottom: 25px;
  td:first-child {
    width: 20%;
    vertical-align: middle;
  }
  .propTable td {
    &:nth-child(2) {
      width: 70%;
    }
    &:nth-child(3) {
      width: 10%;
    }
  }
  .shedLbl {
    font-size: 16px;
    margin-bottom: 0;
  }
  select {
    width: 100%;
    height: 25px;
    font-size: 14px;
  }
}

#addShowHide {
  float: left;
  margin: 5px 0 0 12px;
}

#showhideLink {
  text-decoration: none;
  color: #4888EF;
  font-size: 14px;
}

/*////////////////////////////CHARACTER FUNCTION///////////////////////////////*/

#charMainDiv {
  .propTable {
    width: 95% !important;
    margin-left: 25px;
    border-collapse: collapse !important;
    td {
      padding: 3px 3px;
    }
  }
  .chooseStep {
    margin-left: -15px;
    font-size: 18px;
  }
  #charTr5 .chooseStep, #charTr7 .chooseStep {
    margin-top: 10px;
  }
  td {
    &:first-child {
      width: 30%;
    }
    &:nth-child(2), &:nth-child(3) {
      width: 33%;
    }
    &:nth-child(4) {
      width: 4%;
    }
  }
  select {
    width: 100%;
    height: 25px;
    font-size: 14px;
  }
  #charActionFunction, #charActionStore, #charActionVariable, .actionArea {
    width: 100%;
  }
  .actionAreaDrp {
    width: 25%;
    position: relative;
    left: 1px;
    font-size: 14px;
    height: 25px;
  }
}

#charActionDrpTd .actionAreaDrp {
  width: 100%;
  font-size: 14px;
  height: 25px;
}

#charMainDiv {
  input {
    width: 100%;
    height: 25px;
    font-size: 14px;
  }
  label {
    font-size: 16px;
    margin-bottom: 0;
  }

  li {
    &.rad-horizontal {
      width: 50%;
      text-align: left;
      display: inline-block;
    }
  }
}

.charExpr {
  width: 100%;
  margin: 0;
  padding: 3px;
  font-size: 14px !important;
}

#charNewParamDiv {
  padding: 5px 0 8px 0;
}

#charNewParam {
  text-decoration: none;
  color: #4888EF;
  font-size: 14px;
  cursor: pointer;
}

.charRemoveParam {
  text-decoration: none;
  font-size: 16px !important;  
}
#charBlock a.charRemoveParam:active {
    font-style:normal;
}
.charMoveParam {
  font-size: 16px !important;
  //width: 50%;
  //cursor: url(../../img/Designer/openhand.cur), default !important;  
  &:hover {
    cursor: grab;
  }
  &:active {
    cursor: grabbing;
  }
}
#charBlock a.charMoveParam:active {
    font-style:normal;
}
.charEmpty {
  outline: 1px dashed #4183C4;
  background-color: #d0edf7;
  height: 20px !important;
  width: 100%;
}

/*////////////////////////////////MATH FUNCTION//////////////////////////////*/

#mathMainDiv {
  .propTable {
    width: 95% !important;
    margin-left: 25px;
    border-collapse: collapse !important;
    td {
      padding: 3px 3px;
    }
  }
  .chooseStep {
    margin-left: -15px;
    font-size: 18px;
  }
  #mathTr5 .chooseStep, #mathTr7 .chooseStep {
    margin-top: 10px;
  }
  td {
    &:first-child {
      width: 30%;
    }
    &:nth-child(2), &:nth-child(3) {
      width: 33%;
    }
    &:nth-child(4) {
      width: 4%;
    }
  }
  select {
    width: 100%;
    height: 25px;
    font-size: 14px;
  }
  #mathActionFunction, #mathActionStore, #mathActionVariable, .actionArea {
    width: 100%;
  }
  .actionAreaDrp {
    width: 25%;
    position: relative;
    left: 1px;
    font-size: 14px;
    height: 25px;
  }
}

#mathActionDrpTd .actionAreaDrp {
  width: 100%;
  font-size: 14px;
  height: 25px;
}

#mathMainDiv {
  input {
    width: 100%;
    height: 25px;
    font-size: 14px;
  }
  label {
    font-size: 16px;
    margin-bottom: 0;
  }
}

.mathExpr {
  width: 100%;
  margin: 0;
  padding: 3px;
  font-size: 14px !important;
}

#mathNewParamDiv {
  padding: 5px 0 8px 0;
}

#mathNewParam {
  text-decoration: none;
  color: #4888EF;
  font-size: 14px;
  cursor: pointer;
}

.mathRemoveParam {
  text-decoration: none;
  font-size: 16px;
  position: relative;
  bottom: 3px;
}

#mathBlock a.mathRemoveParam:active{
    font-style:normal;
}

.mathMoveParam {
  font-size: 16px;
  position: relative;
  bottom: 3px;  
  &:hover {
    cursor: grab;
  }
}
#mathBlock a.mathMoveParam:active{
    font-style:normal;
}
.mathEmpty {
  outline: 1px dashed #4183C4;
  background-color: #d0edf7;
  height: 20px !important;
  width: 100%;
}

/*///////////////////////////////////////DATE FUNCTION////////////////////////////////////*/

#dateMainDiv {
  .propTable {
    width: 95% !important;
    margin-left: 25px;
    border-collapse: separate !important;
    border-spacing: 5px 2px;
    td {
      padding: 3px 0 15px 0;
    }
  }
  .chooseStep {
    margin-left: -15px;
    font-size: 18px;
  }
  td {
    &:first-child {
      width: 20%;
    }
    &:nth-child(2) {
      width: 35%;

      select {
        margin-bottom: 0;
      } 

    }
    &:nth-child(3) {
      width: 40%;

      // .mi-datetimepicker {
      //   .mi-dt-DateTime {
      //     margin-right:3.35em;
      //     input {
      //       width: 100%;
      //       line-height: 1.4;
      //     }
      //   }
      // }
    }

    .actionArea {
      height: auto !important;
      label {
        &:empty {
          display: none;
        }
      }
      .mi-datetimepicker {
        input {
          width: 100% !important;
        }

        .buttonGroup {
          width: auto;
          bottom: 0;
          
          button {
            height: 34px !important; 

            &:hover {
              background: transparent !important;
            }

            i {
              bottom:0;
            }
          }
        }
      }
    }
  }

  select, input {
    width: 100%;
    height: 25px;
    font-size: 14px;
  }
  .actionAreaDrp {
    width: 25%;
    position: relative;
    left: 1px;
    font-size: 14px;
    height: 25px;
  }
  label {
    font-size: 16px;
    margin-bottom: 0;
  }
  .actionArea {
    span {
      width: 76%;
    }
    button {
      
      height: 25px;
      cursor: pointer;
      
      &:hover {
        background: #58BEFF;
      }
    }
    i {
      position: relative;
      bottom: 4px;
    }
    .mi-datetimepicker {
      width: 100%;
      line-height: inherit;
      height: inherit;
      margin-bottom: 0;
    }
  }
  .mi-datetimepicker input {
    width: 98% !important;
  }
}

 /*@-moz-document url-prefix(){
   #dateMainDiv .mi-datetimepicker {
       position: relative;
       bottom: -1px;
    }
}*/

/*//////////////////////////////CLEAR SCREEN FOR NEW ENTRY///////////////////////////*/

#clearScreenMainDiv {
  .propTable {
    border-collapse: separate;
    border-spacing: 10px 15px;
    width: 95%;
    margin: 40px 0 0 40px;
  }
  input {
    height: 17px;
    width: 17px;
  }
}

/*/////////////////////////////////////REFRESH GRID////////////////////////////////////*/

#refreshGridMainDiv {
  .propTable {
    width: 90% !important;
    margin-left: 25px;
    border-collapse: separate !important;
    border-spacing: 5px 10px;
    td {
      padding: 3px 0;
      text-align: left !important;
    }
  }
  td {
    &:first-child {
      width: 20%;
    }
    &:nth-child(2) {
      width: 80%;
    }
  }
  select {
    width: 100%;
    height: 25px;
    font-size: 14px;
  }
  label.checkbox {
    font-size: 1em;
  }
}

/*//////////////////////////////SET ACTIVE RECORD ID FOR A SCREEN//////////////////////////*/

#setActiveMainDiv {
  .propTable {
    width: 90% !important;
    margin-left: 25px;
    border-collapse: separate !important;
    border-spacing: 5px 10px !important;
    font-size: 16px !important;
    td {
      padding: 3px 0;
    }
  }
  td {
    &:first-child {
      width: 20%;
    }
    &:nth-child(2) {
      width: 80%;
    }
  }
  select, input {
    width: 100%;
    height: 25px;
    font-size: 14px;
  }
  .actionAreaDrp {
    width: 25%;
    position: relative;
    left: 1px;
    font-size: 14px;
    height: 25px;
  }

  #setActiveActionTd {
    select {
      &:first-child {
        width: 98% !important;  
      }
      &:first-child:nth-last-child(2),
      &:first-child:nth-last-child(2) ~ select {
        width: 48.65% !important;
        display: inline-block;
      }
      &:first-child:nth-last-child(2) {
        margin-right: 20px;
      }
    }
  }
}

/*/////////////////////////////////////////SET VIEW FILTER///////////////////////////////////*/

#setFilterMainDiv {
  .propTable {
    width: 90% !important;
    margin-left: 25px;
    border-collapse: separate !important;
    border-spacing: 5px 10px !important;
    font-size: 16px !important;
    td {
      padding: 3px 0;
    }
  }
  td {
    &:first-child {
      width: 20%;
    }
    &:nth-child(2) {
      width: 80%;
    }
  }
  select {
    width: 100%;
    height: 25px;
    font-size: 14px;
  }
}

/*/////////////////////////////////////////SEND EMAIL/////////////////////////////////////////*/

#sendEmailMainDiv {
  .anyActionHeader {
    width: 98%;
    td {
      &:first-child {
        width: 20%;
      }
      &:nth-child(2) {
        width: 35%;
      }
      &:nth-child(3) {
        width: 45%;
      }
    }
  }
  #emailTr3, #emailTr4 {
    display: none;
  }  
  #emailTr6 td {
    vertical-align: top;
  }
  #emailTr8 td:nth-child(2) {
    text-align: center;
  }
  select, input {
    width: 100%;
    height: 25px;
    font-size: 14px;
  }
  textarea {
    width: 100%;
    height: 25px;
    font-size: 14px;
    resize: vertical;
    height: 50px;
  }
  #emailCc, #emailBcc {
    cursor: pointer;
    color: #34495e;
  }
  #emailCcBcc {
    float: right;
    text-align: center;
    width: 25%;
    position: relative;
    top: 3px;
  }
  .actionAreaDrp {
    width: 25%;
    position: relative;
    left: 1px;
    font-size: 14px;
    height: 25px;
  }
  #emailFilePath {
    width: 70%;
  }
  #emailFileBrowse {
    padding: 3px 11px 4px;
    cursor: pointer;
    background: #9AAFC4;
    color: white;
    float: left;
  }
  #emailFileToAttach {
    padding: 3px 15px 4px 10px;
    cursor: pointer;
    background: #9AAFC4;
    color: white;
    float: right;
    i {
      position: relative;
      right: 4px;
      top: 1px;
      font-size: 19px;
    }
  }
  #emailAdvanced {
    // padding: 7px 9px;
    cursor: pointer;
    position: relative;
    // bottom: -3px;
    color: #9AAFC4;
    font-size: 22px;
  }
  #emailTr10, #emailTr11, #emailTr12, #server-port {
    display: none;

    input[type="password"] {
      margin-bottom: 0 !important;
    }
  }

  .attachmentList {
    border: 0 !important;
    padding: 0 !important;

    tr td:first-child {
      padding-left: 0 !important;
    }
  }
}

/*/////////////////////////////////////////VIEW FILTER///////////////////////////////////////*/

#initViewFilterDiv, #filterManagerDiv {
  @include flexalignself(flex-start);
  position: relative;
}

#callViewFilter {
  overflow-x: hidden;
  width: 100%;
}

#initViewFilter {
  #filterTable {
    border-collapse: separate;
    width:100%;
    border: none !important;
  }
  #filterAllDiv {
    display: none;
    margin: 0 0 10px 40px;
  }
  #filterTable td {
    border-bottom: none;
    &:first-child {
      width: 35%;
    }
    &:nth-child(2), &:nth-child(3), &:nth-child(4) {
      width: 5%;
    }
    &:nth-child(5) {
      width: 50%;
    }
  }
}

// #filterTitleBar {
//   border: none !important;
//   background: whitesmoke;
// }

// #filterButtonPane {
//   background: whitesmoke;
//   padding: .7em 3em .2em .4em;
// }

#filterTitleBar {
  text-align: center;
  #backFilterList {
    float: left;
    position: absolute;
    left: 30px;
    top: 20px;
    cursor: pointer;
    color: #3EA4EF;
    &:hover {
      color: #58BEFF;
    }
    i {
      position: relative;
      top: 1px;
      right: 3px;
    }
  }
}

#initViewFilter {
  a {
    &.learn {
      color: #4888EF;
      text-decoration: none;
      font-style: italic;
      outline: none !important;
      &:visited {
        color: #4888EF;
        text-decoration: none;
        font-style: italic;
        outline: none !important;
      }
    }
    &:active {
      color: #4888EF;
      text-decoration: none;
      font-style: italic;
      outline: none !important;
    }
  }
  .helpSpan {
    font-style: italic;
    font-weight: normal;
    width: 92%;
    font-size: 13px;
    margin: 10px 0 20px 30px;
  }
  #createFilter {
    text-decoration: none;
    color: #4888EF;
    margin: 10px 0 0 10px;
    cursor: pointer;
    font-size: 15px;
  }
  #createFilterLink {
    margin-left: 5px;
  }
  #deleteFilter {
    text-decoration: none;
    color: black;
    margin-left: 30px;
  }
}

#screenActionEditor {
  padding: 20px 30px 0 20px;
}

#initViewFilter #filterTable {
  .filterList {
    font-size: 22px;
    cursor: pointer;
  }
  .filterName {
    margin-left: 10px;
    cursor: pointer;
  }
  .filterDelete {
    float: right;
    margin-right: 20px;
  }
  .filterEdit i, .filterDelete i, .filterCopy i, .filterDefault i {
    color: #8f9192;
  }
  .filterEdit i:hover {
    color: #6fcc28;
  }
  .filterDelete i:hover {
    color: #ce4538;
  }
  .filterCopy i:hover {
    color: #00bfff;
  }
  .filterDefault i:hover {
    color: #d2691e;
  }
}

/*/////////////////////////////////////////VIEW FILTER MANAGER///////////////////////////////////////*/

#filterManager {
  #filterManagerTable {
    border:none !important;
    td {
      text-align:left;
      vertical-align: middle;
      border-bottom: 0;
      &:first-child {
        width: 20%;
      }
      &:nth-child(2) {
        width: 30%;
      }
      &:nth-child(3) {
        width: 5%;
      }
      &:nth-child(4) {
        width: 30%;
      }
      &:nth-child(5) {
        width: 10%;
      }
      &:nth-child(6) {
        width: 5%;
      }
    }
    border-collapse: separate;
    width: 100%;
  }
}

#filterManagerTable td {
  padding: 5px;
}

#filterManager #filterManagerTable {
  select, input {
    width: 100%;
    font-size: 14px;
    height: 25px;
  }
}

#fltrNameLbl {
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  width: 30%;
  position: absolute;
}

#filterManager #filterManagerTable label.checkbox {
  position: relative;
  bottom: -5px;
  font-size: 20px;
}

#filterManagerTable {

  #addFilterSorting {
    color: #4888EF;
    cursor: pointer;
    font-size: 15px;
    
  }
  #addFilterSortingLink {
    
  }
}

#filterManager,
#prepareAccWrap,
#system-content {
  #addFilterCrit {
    color: #4888EF;
    cursor: pointer;
    font-size: 15px;
   
  }
  #addFilterCritLink {
      
  }
  #condMainDiv {
    width: 100%;
  }
  #deleteFilterCrit {
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    color: $dark-grey;
    
    &:hover {
      color: #ce4538;
    }
  }
  #condMainDiv,
  #snapshotFilter,
  #appRibbonFilter {
    margin-top: 0;
    padding-left: 0;
    .buttonGroup {
      button {
        margin-left:0;
      }
    }

    &.mi-ConditionExpression {

      .container {
        padding:20px 0;
      }
      ol {
        list-style: none;
        margin: 0 !important;

        li {
          margin: 10px 0;
          border-top:1px solid $card-border;

          &.primary {
            border-top:none;
          }
          .conjunction-header {
              @include boxSizing;
              @include flexbox;
              @include flexjustify(space-between);
              @include flexalignitems(center);
              padding: 10px 0;

              span {
                @include flex(1 1 auto);

                h3 {
                  display: inline-block;
                  margin-left: 10px;
                }
              }
          }

        }
      }
      button {
        &.mi-button.blank {
          margin-right: 20px !important;
          font-weight: 600;
        }
      }
    }
  }
  .condTable {
    width: 98% !important;
  }
  #filterAdvanced {
    @include flexbox;
    @include flexjustify(flex-start);
    @include flexalignitems(center);
    @include boxSizing;
    border: 1px dashed $card-border;
    padding: 20px;
    margin: 20px 0;
    cursor: pointer;
    
    i {
      font-size: 18px;
      margin-right: 20px;
    }
  }
  #filterAdvancedContent {
    display: none;
    margin-top: 10px;
    width: 98%;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  #addAdvancedFilter {
    color: #4888EF;
    cursor: pointer;
    font-size: 15px;
    margin-left: 20px;
  }
  #addAdvancedFilterLink {
    margin-left: 5px;
  }
  .filterSortTrash {
    position: relative;
    // bottom: 2px;
    // right: 12px;
    font-size: 18px;
    cursor: pointer;
    float: right;
    color:$dark-grey;
    &:before {
      margin: 0 !important;
    }
  }
}

// Fix for New Edit Snapshot

.filter-section {
    margin-top: 0;
    padding-left: 0;
    .buttonGroup {
      button {
        margin-left:0;
      }
    }

    &.mi-ConditionExpression {

      .container {
        padding:20px 0;
      }
      ol {
        list-style: none;
        margin: 0 !important;

        li {
          margin: 10px 0;
          border-top:1px solid $card-border;

          &.primary {
            border-top:none;
          }
          .conjunction-header {
              @include boxSizing;
              @include flexbox;
              @include flexjustify(space-between);
              @include flexalignitems(center);
              padding: 10px 0;

              span {
                @include flex(1 1 auto);

                h3 {
                  display: inline-block;
                  margin-left: 10px;
                }
              }
          }

        }
      }
      button {
        &.mi-button.blank {
          margin-right: 20px !important;
          font-weight: 600;
        }
      }
    }
  }

#filterHiddenTitle {
  margin-top: 5px;
}

#filterManager #filterAdvancedTable {
  border: none;
  width: 100%;
  margin: 5px 0;
  td {
    width: 20%;
    vertical-align: middle;
    border-bottom: none;
  }
  .filterHiddenSelect {
    width: 75%;
    font-size: 14px;
    display: inline-block;
    margin-right: 5px;
    
  }
  .filterHiddenTrash {
    width: 20%;
    font-size: 18px;
    position: relative;
    display: inline-block;
    color: $dark-grey;
  }
}

/*/////////////////////////////////////////DROPDOWN FILTER MANAGER///////////////////////////////////////*/

#callDrpViewFilter {
  overflow-y: auto; 
}

#drpFilterManagerDiv {
  
  @include boxSizing;
  @include flexalignself(flex-start);

  padding:20px;
  position: relative;
  width: 100%;

  button {
    &.blank {
      margin-left: 0;
    }
  }

  #drpFilterManagerTable {
    border:none;
    thead {
      border:none;
    }
    td {
      padding:0;
      border:none;

      select {
        width: 100%;
      }

      &:first-child {
        width: 20%;
      }
      &:nth-child(2) {
        width: 30%;
      }
      &:nth-child(3) {
        width: 5%;
      }
      &:nth-child(4) {
        width: 30%;
      }
      &:nth-child(5) {
        width: 10%;
      }
      &:nth-child(6) {
        width: 5%;
      }
    }

    tbody {
      td {
        padding: 5px 0 0 0;
      }
    }
    border-collapse: collapse;
    width: 100%;

    tfoot {
      td {
        padding: 10px 0;

        span {
          margin:0 !important;
        }
      }
    }
  }

  .expression {
    .operand,.operator {
      @include boxSizing;
      @include flexbox;
      @include flexjustify(space-around);

      select {
        &:first-of-type {
          flex: 1 1 45%;
          margin-right: 10px;
          width: 45%;
        }
      }
      .values {
        @include flexalignitems(center);
        flex: 1 1 45%;
        margin-left: 10px;
        width: 45%;

        select {
          width:100%;
        }
        label {
          &:empty {
            display: none;
          }
        }
        .onoffswitch {
            label {
                display: inline-block !important;
            }
        }
        .value {
          &.Date {
            input {
              width: 100% !important;
            }
          }
        }
      }
    } 
    .operator {
      width: 50%;
    }
  }
}

#drpFilterManagerDiv #drpFilterManagerTable {
  select, input {
    width: 45%;
    font-size: 14px;

  }
}

#drpFilterNameRef {
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  width: 30%;
  position: absolute;
}

#drpFilterManagerTable {

  #addDrpFilterSorting {
    color: #4888EF;
    cursor: pointer;
    font-size: 15px;
    margin-left: 10px;
  }
  #addDrpFilterSortingLink {
    margin-left: 5px;
  }
}

#drpFilterManagerDiv, #propertieswindow, .filter-section {
  #addDrpFilterCrit {
    color: #4888EF;
    cursor: pointer;
    font-size: 15px;
    
  }
  #addDrpFilterCritLink {
    &:before {
      margin-right: 10px;
    }
  }
  
  #deleteDrpFilterCrit {
    font-size: 18px;
    cursor: pointer;
  }
  #condMainDiv {
    margin-top: 0;
    padding-left: 0;
    width: 100%;

    .container {
      padding: 20px 0;
    }

    &.mi-ConditionExpression {
      ol {
        list-style: none;
        margin: 0 !important;

        li {
          margin: 10px 0;
          border-top:1px solid $card-border;

          &.primary {
            border-top:none;
          }
          .conjunction-header {
              @include boxSizing;
              @include flexbox;
              @include flexjustify(space-between);
              @include flexalignitems(center);
              padding: 10px 0;

              span {
                @include flex(1 1 auto);

                h3 {
                  display: inline-block;
                  margin-left: 10px;
                }
              }
          }

        }
      }
      button {
        &.mi-button.blank {
          margin-right: 20px !important;
          font-weight: 600;
        }
      }
    }
  }
  .condTable {
    width: 98% !important;
  }
  .drpFilterSortTrash {
    position: relative;
    color: $dark-grey;
    font-size: 18px;
  }
}

.filter-body {
  padding: 0 0 20px !important;

  .container {
    padding: 0 !important;

    ol {
      &:first-child {
        border: 0 !important;
      }
    }
  }
}

/*/////////////////////////////////////////GENERATE REPORT///////////////////////////////////////*/

#generateReport {
  
 
  .anyActionHeader {
    td {
      text-align: left;
      &:first-child {
        width: 30%;
      }
      &:nth-child(2), &:nth-child(3) {
        width: 35%;
      }
    }
    select, input {
      width: 100%;
      font-size: 14px;
      margin:0;
    }
    button {
      margin-left: 0;
    }
  }
  // .actionAreaDrp {
  //   display: none;
  //   width: 25% !important;
  //   position: relative;
  //   left: 6px;
  //   font-size: 14px;
  //   height: 25px;
  // }
  #reportCriteriaBuilder {
    margin-left: 0;
  }
  label.checkbox {
    font-size: 1.2em;
  }

  #reportActionTd {
    select {
      &:first-child  {
        width: 100%;  
      }
      &:first-child:nth-last-child(2),
      &:first-child:nth-last-child(2) ~ select {
        width: 46%;
        display: inline-block;
      }
      &:first-child:nth-last-child(2) {
        margin-right: 20px;
      }
    }
  }
  #reportWherePart {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    width: 70%;
    position: relative;
    bottom: -2px;
  }
  #reportWherePartA {
    color: #4888EF;
    text-decoration: underline !important;
  }
}

/*#generateReport #reportDesigner
 {
    position: relative;
    top: 3px;
    left:-1px;
 }*/

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #generateReport #reportWherePart {
    position: relative;
    bottom: 1px;
  }
}

#backReportCriteria {
  float: left;
  position: absolute;
  left: 30px;
  top: 20px;
  cursor: pointer;
  color: #3EA4EF;
  &:hover {
    color: #58BEFF;
  }
  i {
    position: relative;
    top: 1px;
    right: 3px;
  }
}

/*/////////////////////////////////////////CALL ANOTHER ACTION SET///////////////////////////////////////*/

#callActionSet {
  
  td {
    padding: 3px 5px;
  }
  .anyActionHeader {
    td {
      &:first-child {
        width: 30%;
      }
      &:nth-child(2) {
        width: 70%;
      }
      
      label {
        padding: 0 !important;
      }
    }
  }
}

/*/////////////////////////////GRID SEARCH FIELDS //////////////////////////////////*/

#searchFieldWizard {
  margin: 20px 0 0 30px;
  width: 94%;
  padding-top: 5px;
  padding-bottom: 10px;
  color: #34495e;
  #addSearchField {
    color: #4888EF;
    cursor: pointer;
    font-size: 15px;
  }
  #addSearchFieldLink {
    margin-left: 5px;
  }
  #searchFieldTitle label {
    margin: 10px 0;
    font-size: .9em;
  }
  #searchFieldAnother {
    font-size: 16px;
  }
  #searchFieldTable {
    width: 100%;
    margin: 5px 0;
    td {
      width: 20%;
    }
    .searchSelect {
      width: 80%;
      font-size: 14px;
      height: 25px;
    }
    .searchTrash {
      width: 20%;
      font-size: 22px;
      position: relative;
      bottom: -2px;
      left: 8px;
      cursor: pointer;
      &:hover {
        color: #ce4538;
      }
    }
  }
}

#searchTitleBar {
  padding: .9em 0 .6em !important;
}

#searchButtonPane {
  padding: .1em 1.6em .1em .4em;
}

#searchTitleBar .mi-dialog-title {
  text-align: center;
}

/*/////////////////////////////////////SET FOCUS TO CONTROL///////////////////////////////////////*/

#setFocusDiv {
  .propTable {
    border-collapse: separate;
    border-spacing: 0px 2px;
    width: 98% !important;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-color: #D4D4D4 #D4D4D4 #BCBCBC;
    margin-bottom: 10px;
    padding: 8px;
  }
  padding-bottom: 25px;
  td:first-child {
    width: 20%;
    vertical-align: middle;
  }
  .propTable td {
    &:nth-child(2) {
      width: 70%;
    }
    &:nth-child(3) {
      width: 10%;
    }
  }
  #setFocusLbl {
    font-size: 16px;
    margin-bottom: 0;
  }
  #setFocusSelect {
    width: 100%;
    height: 25px;
    font-size: 14px;
  }
}

/*/////////////////////////////////////CREDIT CARD PROCESSING///////////////////////////////////////*/

#creditCardPrcsDiv {
  padding-bottom: 25px;
  .helpSpan {
    margin-bottom: 5px !important;
  }
}

#creditPrcsTable {
  border-collapse: separate;
  border-spacing: 5px 5px;
  width: 98% !important;
}

#creditCardPrcsDiv {
  td {
    &:first-child {
      width: 30%;
      vertical-align: middle;
    }
    &:nth-child(2) {
      width: 24%;
    }
    &:nth-child(3), &:nth-child(4) {
      width: 23%;
    }
  }
  .creditLbl {
    font-size: 16px;
    margin-left: 10px;
  }
  input, select {
    width: 100%;
    height: 25px;
    font-size: 14px;
  }
  #selectCardType, #creditCharge, #cCode {
    font-weight: bold;
  }
  .actionAreaDrp {
    width: 25%;
    position: relative;
    left: 1px;
    font-size: 14px;
    height: 25px;
  }
}

/*/////////////////////////////LOOP THROUGH GRID////////////////////////////////////////////*/

.mi-LoopGrid .design {
  select, button, input {
    width: 100%;
    font-size: 14px;
    margin: 0;
  }
  label {
    &:empty {
      display: none;
    }
  }
}

/*/////////////////////////////REFRESH CALENDAR///////////////////////////////////////////*/

#refreshCalDiv {
  Table {
    border-collapse: separate;
    border-spacing: 0px 2px;
    width: 98% !important;
    /*border: 1px solid #d4d4d4;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-color: #D4D4D4 #D4D4D4 #BCBCBC;*/
    margin-bottom: 10px;
    padding: 8px;
  }
  padding-bottom: 25px;
  td {
    &:first-child {
      width: 30%;
      vertical-align: middle;
    }
    &:nth-child(2) {
      width: 70%;
    }
  }
  select {
    width: 95%;
    height: 25px;
    font-size: 14px;
  }
}

/*/////////////////////////////LOOP THROUGH CALENDAR///////////////////////////////////////////*/

#loopCalDiv {
  Table {
    border-collapse: separate;
    border-spacing: 0 15px;
    width: 95% !important;
    margin: -10px 0 10px;
  }
  padding-bottom: 25px;
  td {
    &:first-child {
      width: 30%;
      vertical-align: middle;
    }
    &:nth-child(2) {
      width: 70%;
    }
  }
  .calLbl {
    margin-left: 20px;
  }
  .checkbox {
    margin-left: 3px;
    font-size: .9em;
  }
  select {
    width: 92%;
    height: 25px;
    font-size: 14px;
  }
}


/*///////////////////////////// CALENDAR FIELDS ///////////////////////////////////////////*/
#CalendarWizard {
  overflow-y: auto;
}


#calendarMainPage,
#calendarExprBuilder {
  @include boxSizing;
  @include flexalignself(flex-start);
  padding: 20px;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  #calendarWizardTable {
    select, input, label {
      width: 50%;
    }

    .details-container {
      .details-inner {
        @include flexbox;
        @include flexjustify(space-between);
        @include flexalignitems(center);

        .calendarTD {
          @include flexalignself(flex-start);
          width: 50%;

          button {
            float: right;
          }

          select, input {
            width:80%;
          }

          select {
            margin-right: 10px;
          }

          .actionArea, a {
            margin-left: 40px;
          }
        }
      }
    }
  }
}

/*///////////////////////////// PREPARE FOR ACCOUNTING///////////////////////////////////////////*/

#prepAccDiv {

  table {
    border-collapse: separate;
  }
  
  padding-bottom: 25px;
  td {
    text-align: left;
    border-bottom: none;
    &:first-child {
      width: 20%;
      vertical-align: middle;
    }
    &:nth-child(2) {
      width: 80%;
    }
  }
  .checkbox {
    margin-left: 3px;
    font-size: .9em;
  }
  button {
    margin: 0;
    font-size: 16px !important;
  }
  p {
    font-size: .9em;
  }
}

#backAccCriteria {
  float: left;
  position: absolute;
  left: 30px;
  top: 20px;
  cursor: pointer;
  color: #3EA4EF;
  &:hover {
    color: #58BEFF;
  }
  i {
    position: relative;
    top: 1px;
    right: 3px;
  }
}


/*///////////////////////////// CALL WEB SERVICE///////////////////////////////////////////*/

#webServiceDiv,
#webServiceTestDiv {

  .webServiceDivInner {
    table#webServiceBody,
    table#webServiceTestBody {
      margin-bottom: 20px;
      
      tr {
        td {
          width: 35% !important;
          padding: 20px 10px !important;
          
          &:first-of-type {
            padding-left: 20px !important;
          }
          &:last-of-type {
            padding-right: 20px !important;
          }
          input, select {
            margin-bottom: 0;
          }
        }  
      }
    }

    .grid-block {
      overflow: visible;
    }
  }
}