.advanced-search-container {
	position:absolute;
	top:0;
	bottom:0;
	@include breakpoint(medium) {
		min-height:40em;
		max-height: 40em;
	}

	@include breakpoint(small only) {
		position: fixed;
	}
	.mobilePreview & {
		position: fixed;
	}
	right: 0;
	width:17em;
	background: lighten($grey, 20%);
	z-index: 5000;

	.triangle {
		@extend %triangle;
		border-color: transparent transparent lighten($grey, 20%) transparent !important;
		top:-0.65em !important;
		left:auto !important;
		right:0.85em !important;
	}

	.adv-search-header {

		float: left;
		display: block;
		width:100%;
		height:80px;
		position:relative;
		margin:0.5em 0;

		.btn-hide {
			color: $grey;
			text-decoration: none;
			float: right;
			margin: 0.5em 0.25em 0;

			@include breakpoint(small only) {
				position: relative;
				top: 32px;
				right: 5px;
			}
			.mobilePreview & {
				position: relative;
				top: 32px;
				right: 5px;
			}

			&:hover {
				text-decoration: underline;
			}
		}

		h3 {
			float: left;
			width:100%;
			text-align: left;
			padding:0.25em;
			@include boxSizing;
			background: darken($grey, 10%);
			color: lighten($grey, 20%);
			line-height: 1.4;
			margin: 0.25em 0;

			@include breakpoint(small only) {
				font-size: 1.2em;
			}
			.mobilePreview & {
				font-size: 1.2em;
			}
		}

	}
	

	.adv-search-container {
		float: left;
		position: absolute;
		width:100%;
		top: 85px;

		bottom:55px;
		overflow: hidden;
		overflow-y:auto;
		clear: both;
		@include boxSizing;
		padding: 1.5em 0.5em;

		@include breakpoint(small only) {
			top: 75px;
			width:105%;
		}
		.mobilePreview & {
			top: 75px;
			width:105%;
		}

		@include breakpoint(small_ls only) {
			padding-right: 1.5em;
		}

		h5 {
			display: inline-block;
			width:100%;
			text-align: left;
			padding:0.25em;
			@include boxSizing;
			background: $white;
			color: $grey;
			line-height: 1.4;
			margin: 0.25em 0 0 0;
			@include borderRadius;

			&.open {
				@include borderRadius(3px 3px 0 0);
				//margin: 0.25em 0 0 0 !important;
			}

			&:hover {
				cursor: pointer;
			}

			span {
				float: left;
				overflow: hidden;
				text-overflow: ellipsis;
				
				> span {
					float: right;
				}
			}

			i {
				float: right;
				line-height: 1.4;
				margin-right:0.25em;
			}
		}

		#columns {
			&.open-cw {
				@include breakpoint(small_ls only) {
					margin-right:-11px;
				}
			}
		}

		.conditions-wrapper {
			border: 1px solid transparent;
			padding: 0.5em;
			width:100%;
			margin-top:-4px;
			display: inline-block;
			@include boxSizing;
			background: $white;
			@include borderRadius(0 0 3px 3px);

			.mi-selectbox,
			.mi-textbox,
			#delete-btn {
				float: left;
				margin-bottom: 0.25em;
			}

			#delete-btn {
				line-height: 1.2;
				
				&.date-time-delete {
					float: right;
					position: relative;
					top: 20px;
				}
			}
			
			.mi-button {
				margin-left:0 !important;
				float: left;
				clear:both;
			}

			.mi-datetimepicker {
				.buttonGroup {
					.mi-button {
						clear: none !important;
					}
				}
			}

			.mi-selectbox {

				width: 85%;

				@include breakpoint(small only) {
					width: 75%;
				}
				.mobilePreview & {
					width: 75%;
				}
				&.date-time-select {
					width: 75%;
					display: block;
					margin: 0.25em 0;
				}
			}

			.or-element {
				display: block;
				clear:both;
				@include boxSizing;
				padding: 0.25em 0;
				font-weight: bold;
			}

			#taglist-wrapper {

				select {
					display: inline-block;
					float: none !important;
					@include breakpoint(small only) {
						width:28% !important;
					}
					.mobilePreview & {
						width:28% !important;
					}
				}

				#include-panel,
				#exclude-panel {
					margin-bottom:1em;
				}
			}


		}
	}

	.adv-search-footer {
		position: absolute;
		width:100%;
		height:55px;
		bottom:0;
		background: darken($grey, 10%);
		@include boxSizing;
		padding: 0 10px;

		span {
			&:first-of-type {
				float: left;
			}

			&:last-of-type {
				float: right;
			}

			button {
				margin-right:0;
				margin-left:0;
			}
		}
	}
}