//container
.mi-picture{
  width:100%;
}
.mi-picture-click{
  cursor:pointer;
}
//background scaled
.mi-picture-scaled{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  img{
    height:100%;
    width:100%;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;

    &.scaledAndZoomed{
      background-size:cover;
    }
  }
}