<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- favicon.ico and apple-touch-icon.png in root directory -->
        <link rel="stylesheet" href="{{site.baseurl}}/css/foundation.css" media="screen">
    </head>
    <body>
        <div class="grid-frame">
            <div class="grid-block large-16">
                <header class="medium-16 large-16 style-header">
                    <span class="search-wrap medium-8">
                        {% include search.html %}        
                    </span>       
                    <h5>{{page.subtitle}}</h5>
                </header>
                <aside class="nav-bar">
                    <div class="logo">
                        <a class="m-labs" href="{{site.baseurl}}/"></a>
                    </div>
                    {% include nav.html nav=site.data.menu %}
                </aside>
                <div class="grid-content style-body">
                    <section class="content-header-wrap medium-16">
                        <hgroup class="medium-16">
                            <h1 class="title">{{page.title}}</h1>
                            <span></span> 
                            <h2>{{page.summary}}</h2>
                            <h6>{{page.biline}}</h6>  
                        </hgroup>    
                    </section>
                     
                    <section>
                        {{ content }}    
                    </section>
                </div>
            </div>
        </div>
        {% include scripts.html %}
    </body>
</html>
