---
layout: default
title: Components
subtitle: component styles
summary: “Component style principles should create and enforce ongoing product design alignment for Method.”
---

{% assign entries = site.components | where:"type","buttons" %}

{% for entry in entries limit:1 %}
	<h1><a href="{{entry.url | remove: 'buttons.html' | prepend: site.baseurl}}">Button Patterns</a></h1>
  	{% include component.html %}
{% endfor %}

{% assign entries = site.components | where:"type","grids" %}
{% for entry in entries limit:1 %}
  {% include component.html %}
{% endfor %}
